# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Build and Test

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

env:
  NPM_CONFIG_FUND: '0'
  NPM_CONFIG_AUDIT: '0'
  SUPPRESS_SUPPORT: '1'
  NO_UPDATE_NOTIFIER: 'true'

jobs:
  build:
    name: Build and test (Node ${{ matrix.node.name }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node:
          - { name: Current,      version: current }
          - { name: LTS,          version: lts/* }
          - { name: Previous LTS, version: lts/-1 }
    steps:
      - name: Build and test
        uses: myrotvorets/composite-actions/build-test-nodejs@3979e6120a77babddec6e34f9008f4ed8d611c61
        with:
          node-version: ${{ matrix.node.version }}
